.user--main--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  border: 1px solid gray;
  list-style: none;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
}
